<div class="container-fluid">
  
    <div class="container">
      
        <div class="row p-2 ">
            <h3 class="text-center">Welcome to  FinApp</h3>
        </div>

        <div class="row p-2">

            <div class="col-md-3">
                <label for="">Today's Date :</label>
            </div>

            <div class="col-md-3">
                <input readonly  [value]=getTodayDate()/>
            </div>
        </div>

        <div class="row p-2">

            <div class="col-md-3">
                <label for="">Current Month :</label>
            </div>
            
            <div class="col-md-3">
                
                    <input readonly [value]=getCurrentMonth()/>
                
               
            </div>

        </div>

        <div class="row p-2">

            <div class="col-md-3">
                <label for="">Budget :</label>
            </div>

            <div class="col-md-3">
                <i class="fa fa-rupee" [ngStyle]="{'display':loader==true ? 'none':''}"></i>
                  <input readonly   [value]=" budgetThisMonth >= 0?budgetThisMonth:''" style="text-indent: 6%;"/>
                  <div class="dot-typing"   [ngStyle]="{'display':loader==true ? 'relative':'none'}"></div>
               
                </div>
              
            

        </div>
        
        <div class="row p-2">
            
            <div class="col-md-3">
                <label for="">Expenses Occured :</label>
            </div>

            <div class="col-md-3">
                <i class="fa fa-rupee" [ngStyle]="{'display':loader==true ? 'none':''}"></i>
                <input readonly   [value]=" totalExpensesOfCurrentMonth >= 0?totalExpensesOfCurrentMonth:''" style="text-indent: 6%;"/>
                <div class="dot-typing"   [ngStyle]="{'display':loader==true ? 'relative':'none'}"></div>
            </div>

        </div>

        <div class="row p-2">
              
            <div class="col-md-3">
                <label for="">Remaining Balance:</label>
            </div>

            <div class="col-md-3">
                <i class="fa fa-rupee" [ngStyle]="{'display':loader==true ? 'none':''}"></i>
                <input readonly   [value]=" remainingBalanceOfCurrentMonth!=0?remainingBalanceOfCurrentMonth:''" style="text-indent: 6%;"/>
                <div class="dot-typing"   [ngStyle]="{'display':loader==true ? 'relative':'none'}"></div>
            </div>


        </div>
        
       
    </div>
</div>

