.container-fluid{
    background-image: url("/assets/expense-background.jpg");
    min-height: 100vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px dotted black;  
}

@media screen and (max-width: 768px) {
   
   .container-fluid > .container
   {
       border: 1px dotted black;
       max-width: 200px;
   } 
   


  }
