
.navbar-nav > li > a
{

   padding-left: 10px;
   padding-right: 10px;
   color:white;
   cursor: pointer;
   
}
.navbar-brand
{
   padding-left: 10px;
}


.navbar-nav > li > a.active
{
   background-color: grey;
}