<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">      <!-- Add logo with size of 90*80 -->
      <img src=
  "/assets/expenses (2).png"
     alt="" width="32px">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" >
    <span class="navbar-toggler-icon">
      
    </span>
  </button> 
      <div class="container-fluid">
       
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            
            <li class="nav-item ">
              <a class="nav-link  " id ="home" routerLink="/home" (click)="onClick($event)" [ngClass]="{'active':currentActive=='home'}" >Home</a> 
            </li>
           
            <li class="nav-item ">
              <a class="nav-link " id ="addnewexpense" routerLink="/AddNewExpense" (click)="onClick($event)" [ngClass]="{'active':currentActive=='addnewexpense'}" >Add New Expense </a> 
            </li>

            <li class="nav-item">
              <a class="nav-link" id="expenses" routerLink="/expenses" (click)="onClick($event)" [ngClass]="{'active':currentActive=='expenses'}" >Expenses</a> 
            </li>

            <li class="nav-item">
              <a class="nav-link" id="reports" routerLink="/report" (click)="onClick($event)" [ngClass]="{'active':currentActive=='reports'}" >Reports</a> 
            </li>
          </ul>
        </div>
        </div>
    </nav>
    